bin/
.idea/
out/
*.iml
lib/antlr-4.13.1-complete.jar
lib/riscv64-unknown-elf-as
lib/riscv64-unknown-elf-ld
lib/std/obj
prg/
*.class
*.java-orig
src/lang24/phase/lexan/gen/
src/lang24/phase/lexan/Lang24Lexer.java
src/lang24/phase/synan/Lang24Parser.java
*.interp
*.tokens
